{% extends "base.html" %}
{% block lab %}Лабораторная работа 4{% endblock %}
{% block main %}
    <h1>Редактирование данных</h1>
    <form method="post">
        <div class="ticket">
            <div>
                <label>Имя:</label>
                <input type="text" id="name" name="name" value="{{ user.name }}">
            </div>
            <div>
                <label>Пароль:</label>
                <input type="text" id="password" name="password" value="{{ user.password }}">
            </div>
            <div>
                <button type="submit">Сохранить изменения</button>
                <a href="/lab4/users">Отмена</a>
            </div>
        </div>
    </form>
{% endblock %}