{% extends "base.html" %}

{# Номер лабораторной работы: #}
{% block lab %}Лабораторная работа 4{% endblock %}

{# Основной контент: #}
{% block main %}
    <h1>Формы (POST)</h1>
    <div>Тема лабораторной - Формы (POST). Список сделанных страниц:</div>
    <ol>
        <li>
            <a href="/lab4/div-form">Деление</a>
        </li>
        <li>
            <a href="/lab4/sum-form">Сложение</a>
        </li>
        <li>
            <a href="/lab4/multiply-form">Умножение</a>
        </li>
        <li>
            <a href="/lab4/sub-form">Вычитание</a>
        </li>
        <li>
            <a href="/lab4/deg-form">Возведение в степень</a>
        </li>
        <li>
            <a href="/lab4/tree">Счетчик деревьев</a>
        </li>
        <li>
            <a href="/lab4/login">Авторизация</a>
        </li>
        <li>
            <a href="/lab4/register">Регистрация</a>
        </li>
        <li>
            <a href="/lab4/fridge-form">Холодильник</a>
        </li>
        <li>
            <a href="/lab4/seed-form">Заказ зерна</a>
        </li>
    </ol>
{% endblock %}