{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}
    {% if authorized %}
        <h1>Страница пользователя</h1><br>
        <h2>Добро пожаловать, {{ name }}!</h2>
        <h3 style="text-align: center;">Ваш пол: {{ gender }}</h3><br>
        <div style="text-align: center;">
            <a href="/lab4/users" style="text-align: center;">Посмотреть список пользователей</a>
        </div>

        <div style="text-align: center;">
            <form action="/lab4/logout" method="post">
                <button>Выход</button>
            </form>
        </div>
    {% else %}
        <h1>Вход</h1>
        <h2>Пожалуйста, авторизуйтесь</h2>

        <form method="post">
            <div class="ticket">
                <div>
                    <label>Логин:</label>
                    <input type="text" id="login" name="login" value="{{ login }}">
                </div>

                <div>
                    <label>Пароль:</label>
                    <input type="password" id="password" name="password" value="{{ password }}">
                </div>

                <div class="error">{{ error }}</div>

                <div>
                    <button type="submit">Войти</button>
                    <button type="reset">Отмена</button>
                </div>
            </form>
            
            <a href="/lab4/register">Зарегистрироваться</a><br>
            <a href="/lab4/">Назад</a>
        </div>
    {% endif %}
{% endblock %}