{% extends "base.html" %}

{# Номер лабораторной работы: #}
{% block lab %}Лабораторная работа 4{% endblock %}

{# Основной контент: #}
{% block main %}
    {% if authorized %}
        <h1>Добро пожаловать, {{ name }}!</h1><br>
        <h2>Ваш пол: {{ gender }}</h2>
        <h3>Список пользователей:</h3>
        <ul>
            {% for user in users %}
                <li>{{ user.name }}, пол: {{ user.gender }} (логин: {{ user.login }})</li>
            {% endfor %}
        </ul>
        <div>
            <form action="/lab4/logout" method="post">
                <button>Выход</button>
            </form>
        </div>
    {% else %}
        <h1>Вход</h1>
        <h2>Пожалуйста, авторизуйтесь</h2>
        <form method="post">
            <div>
                <label for="login">Пользователь:</label>
                <input type="text" id="login" name="login" value="{{ login }}">
            </div>
            <div>
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" value="{{ password }}">
            </div>
            <div class="error">{{ error }}</div>
            <div>
                <button type="submit">Войти</button>
                <button type="reset">Отмена</button>
            </div>
        </form>
        <a href="/lab4/">Назад</a>
    {% endif %}
{% endblock %}