{% extends "base.html" %}

{% block lab %}Лабораторная работа 9{% endblock %}

{% block script %}
    <style>
        h3 {
            text-align: center;
        }
        p {
            text-align: center;
        }
        img {
            width: 30%;
        }
        body {
            color: #8e0413;
            background-color: #b6c197;
        }
        header {
            background-color: #004733;
            color: #b6c197;
        }
        
        footer {
            background-color: #004733;
            color: #b6c197;
        }
        button {
            background-color: #df8080;
            border-color: #8e0413;
            color: #8e0413;
            box-shadow: 4px 3px 3px rgba(96, 49, 44, 0.3);
        }
        .ticket {
            border: 3px solid #8e0413;
            background-color: #edc4b1;
        }
        input {
            border-color: #004733;
        }
        .error {
            color: #004733;
        }
        a {
            color: #b6c197;
        }
        a:hover {
            color: #568d66;
        }
        a:active {
            color: black;
        }
        body::before,
        body::after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 400px;
            height: 300px;
            background-size: contain;
            z-index: 1;
        }
        body::before {
            background-image: url('/static/lab9/еловая ветка лево.png');
            left: 20px;
        }
        body::after {
            background-image: url('/static/lab9/еловая ветка право.png');
            right: 20px;
        }
    </style>
{% endblock %}

{% block main %}
    <h1>Поздравление!</h1>
    <h3>{{ greeting }}</h3>
    <p>{{ gift }}</p>
    <img src="/static/lab9/{{ image }}" alt="Подарок">
{% endblock %}