{% extends "base.html" %}

{# Номер лабораторной работы: #}
{% block lab %}Лабораторная работа 3{% endblock %}

{# Основной контент: #}
{% block main %}
    {% if pass_name and age and departure and destination and date %}
    
    <h1>Ваш билет</h1>
    <p>ФИО пассажира: {{ pass_name }}</p>
    <p>Пункт выезда: {{ departure }}</p>
    <p>Пункт назначения: {{ destination }}</p>
    <p>Дата поездки: {{ date }}</p>
    <p>Возраст: {{ age }}, {{ ticket_type }}</p>
    <p>
        {% if shelf == 'lower' %}
        Нижняя полка
        {% elif shelf == 'upper' %}
            Верхняя полка
        {% elif shelf == 'upper_side' %}
            Верхняя боковая полка
        {% else %}
            Нижняя боковая полка
        {% endif %}
    </p>
    <p>С бельём: {{ 'Да' if bedding else 'Нет' }}</p>
    <p>С багажом: {{ 'Да' if luggage else 'Нет' }}</p>
    <p>Страховка: {{ 'Да' if insurance else 'Нет' }}</p>
    <p>Цена: {{ price }} руб.</p>

    {% else %}
    <h1>Купить железнодорожный билет</h1>
    <form>
        <label>ФИО пассажира:</label>
        <div>
            <input type="text" name="pass_name" value="{{ pass_name or '' }}"><br>
            <span class="error">{{ errors.pass_name }}</span>
        </div>

        <label>Полка:</label>
        <div>
            <select name="shelf">
                <option value="lower">Нижняя</option>
                <option value="upper">Верхняя</option>
                <option value="upper_side">Верхняя боковая</option>
                <option value="lower_side">Нижняя боковая</option>
            </select><br>
        </div>

        <label for="bedding">С бельём:</label>
        <input type="checkbox" name="bedding"><br>

        <label for="luggage">С багажом:</label>
        <input type="checkbox" name="luggage"><br>

        <label for="age">Возраст:</label>
        <div>
            <input type="number" name="age" value="{{ age or '' }}"><br>
            <span class="error">{{ errors.age }}</span>
        </div>

        <label for="departure">Пункт выезда:</label>
        <div>
            <input type="text" name="departure" value="{{ departure or '' }}"><br>
            <span class="error">{{ errors.departure }}</span>
        </div>

        <label>Пункт назначения:</label>
        <div>
            <input type="text" name="destination" value="{{ destination or '' }}"><br>
            <span class="error">{{ errors.destination }}</span>
        </div>

        <label>Дата поездки:</label>
        <div>
            <input type="date" name="date" value="{{ date or '' }}"><br>
            <span class="error">{{ errors.date }}</span>
        </div>

        <label for="insurance">Страховка:</label>
        <input type="checkbox" name="insurance"><br>

        <div>
            <button type="submit">Купить билет</button>
        </div>
    </form>
    {% endif %}
{% endblock %}