{% extends "base.html" %}

{# Номер лабораторной работы: #}
{% block lab %}Лабораторная работа 5{% endblock %}

{# Основной контент: #}
{% block main %}
    <h1>Создание статьи</h1>

    {% if error %}
    <h2 class="error">{{ error }}</h2>
    <a href="/lab5/create">Назад</a>
    {% else %}
    <form method="post" class="ticket">
        <div>
            <label>
                Название статьи:
                <br><input type="text" maxlength="50" name="title">
            </label>
        </div><br>

        <div>
            <textarea name="article_text"></textarea>
        </div>

        <div>
            <button type="submit">Готово</button>
        </div>
    </form>
    <a href="/lab5/">Назад</a>
    {% endif %}
{% endblock %}