<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Нина Демченко.{% block lab %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
    <header>
        WEB-программирование, часть 2. {{ self.lab() }}
        <a href="/" style="font-size: 14pt;">&#10047;</a>
    </header>

    <main>
        {% block main %}{% endblock %}<br>
    </main>

    <footer>
        &copy; Нина Демченко, ФБИ-22, 3 курс, 2024
    </footer>
</body>
</html>