{% extends "base.html" %}

{# Номер лабораторной работы: #}
{% block lab %}Лабораторная работа 2{% endblock %}

{# Основной контент: #}
{% block main %}
    <h1>Список всех цветов:</h1>
    <p>Всего цветов: {{flowers_num}} </p>
    <p>
        Полный список: 
        <ul>
        {% for f in flower_list %}
            <li>{{f}}</li>
        {% endfor %}
        </ul>
    </p>
    <a href="/lab2/add_flower/">Добавить цветок</a><br>
    <a href="/lab2/flowers/">Найти цветок по ID</a><br>
    <a href="/lab2/delete_flowers/">Очистить список цветов</a>
{% endblock %}