{% extends "base.html" %}

{% block lab %}Расчетно-графическое задание{% endblock %}

{% block main %}
    <h1>Панель администратора</h1>
    <h2>Управление списком пользователей:</h2>
    <table id="user-list">
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>
                <button class="edit-user-btn" data-user-id="{{ user.id }}">Редактировать</button>
                <form action="{{ url_for('rgz.admin_delete_user', user_id=user.id) }}" method="post" style="display:inline;">
                    <button type="submit">Удалить</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <div id="edit-user-modal" class="modal" style="display: none;">
        <div class="modal-content">

            <span class="close" onclick="hideModal()"></span>

            <p>Редактирование пользователя</p>

            <form id="edit-user-form">
                <input type="hidden" id="edit-user-id" name="user_id">

                <label>Логин: <input type="text" id="edit-username" name="username"></label><br>
                <label>Новый пароль: <input type="password" id="edit-password" name="password"></label><br>

                <button type="button" onclick="sendUser()">Сохранить</button>
                <button type="button" onclick="hideModal()">Отмена</button>
            </form>
        </div>
    </div>
    <a href="/rgz/dashboard">Назад</a>
{% endblock %}

{% block script %}
    <style>
        .modal {
            display: none;
            z-index: 100;
            box-shadow: 5px 5px 10px #4b2818;
            border-radius: 10px;
            text-align: center;
            background: rgb(206, 147, 147);
            width: 400px;
            left: 10%;
            top: 20%;
            position: absolute;
            padding: 20px;
        }
        .error-message {
            color: rgb(173, 11, 11);
        }
        table {
            margin: auto;
        }
        th, td {
            padding: 12px;
            text-align: left;
        }
        th {
            background-color: #4b2818;
            color: rgb(218, 188, 188);
        }
    </style>

    <script>
        function showModal() {
            document.getElementById('edit-user-modal').style.display = 'block';
        }

        function hideModal() {
            document.getElementById('edit-user-modal').style.display = 'none';
        }

        function sendUser() {
            const id = document.getElementById('edit-user-id').value;
            const username = document.getElementById('edit-username').value;
            const password = document.getElementById('edit-password').value;

            const user = {
                username: username,
                password: password
            };

            fetch(`/rgz/admin/edit_user/${id}`, {
                method: 'POST',
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(user)
            })
            .then(function(resp) {
                if (resp.ok) {
                    hideModal();
                    return{}
                }
                return resp.json();
            })
        }

        function initEditButtons() {
            const editButtons = document.querySelectorAll('.edit-user-btn');
        
            editButtons.forEach(function(button) {

                button.addEventListener('click', function() {
                    const userId = button.getAttribute('data-user-id');
                    editUser(userId);
                });
            });
        }

        function editUser(id) {
            fetch(`/rgz/admin/edit_user/${id}`)
            .then(function(data) {
                return data.json();
            })
            .then(function(user) {
                document.getElementById('edit-user-id').value = user.id;
                document.getElementById('edit-username').value = user.username;
                document.getElementById('edit-password').value = '';
                showModal();
            });
        }

        document.addEventListener('DOMContentLoaded', function() {
            initEditButtons();
        });
    </script>
{% endblock %}