{% extends "base.html" %}

{% block lab %}Расчетно-графическое задание{% endblock %}

{% block script %}
    <style>
        .modal {
            display: none;
            z-index: 100;
            box-shadow: 5px 5px 10px #4b2818;
            border-radius: 10px;
            text-align: center;
            background: rgb(206, 147, 147);
            width: 400px;
            left: 10%;
            top: 20%;
            position: absolute;
            padding: 20px;
        }
        .error-message {
            color: rgb(173, 11, 11);
        }
        table {
            margin: auto;
        }
        th, td {
            padding: 12px;
            text-align: left;
        }
        th {
            background-color: #4b2818;
            color: rgb(218, 188, 188);
        }
    </style>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const modal = document.getElementById('edit-user-modal');
            modal.style.display = 'block';
        });

        function hideModal() {
            document.getElementById('edit-user-modal').style.display = 'none';
        }
    </script>
{% endblock %}

{% block main %}
    <h1>Панель администратора</h1>
    <h2>Управление списком пользователей:</h2>
    <table>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>
                <form action="/rgz/admin" method="post" style="display:inline;">

                    <input type="hidden" name="edit_user_id" value="{{ user.id }}">

                    <button type="submit">Редактировать</button>
                </form>
                
                <form action="/rgz/admin/delete_user/{{ user.id }}" method="post" style="display:inline;">
                    <button type="submit">Удалить</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    {% if edit_user %}
    <div id="edit-user-modal" class="modal">
        <div>
            <span class="close" onclick="hideModal()"></span>
            <p>Редактирование пользователя</p>
            
            <form action="/rgz/admin/edit_user/{{ edit_user.id }}" method="post">
                <input type="hidden" value="{{ edit_user.id }}">

                <label>Логин: <input type="text" name="username" value="{{ edit_user.username }}"></label><br>
                <label>Пароль: <input type="password" name="password"></label><br>

                {% if error %}
                <div class="error">{{ error }}</div>
                {% endif %}

                <button type="submit">Сохранить</button>
                <button type="button" onclick="hideModal()">Отмена</button>
            </form>
        </div>
    </div>
    {% endif %}


    <a href="/rgz/dashboard">Назад</a>
{% endblock %}