{% extends "base.html" %}

{% block lab %}Расчетно-графическое задание{% endblock %}

{% block main %}
    <h1>Чат с {{ recipient.username }}</h1>
    <ul>
        {% for message in messages %}
        <li>
            <strong>{{ message.sender_username }}:</strong> {{ message.message_text }}
            <form action="/rgz/delete_message/{{ message.id }}" method="post" style="display:inline;">
                <button type="submit">Удалить</button>
            </form>
        </li>
        {% endfor %}
    </ul>

    <form action="{{ url_for('rgz.chat', recipient_id=recipient.id) }}" method="post">
        <label>Сообщение: <textarea name="message_text"></textarea></label><br>
        <button type="submit">Отправить</button>
    </form>

    <a href="/rgz/dashboard">Назад</a>
{% endblock %}